*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color:var(--Offwhite);
    font-family: 'Inter', sans-serif;
}

:roots {
    --Offwhite: hsl(36, 100%, 99%);
    --Grayishblue: hsl(233, 8%, 79%);
    --Darkgrayishblue: hsl(236, 13%, 42%);
    --Verydarkblue: hsl(240, 100%, 5%);
    --Softorange: hsl(35, 77%, 62%);
--Softred: hsl(5, 85%, 63%);
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px 20px 60px;
}
.navbar_left{
    font-size: 4vw;
    font-weight: 900;
    font-family: 'poppins';

}
.navbar_right{
    display: flex;
    text-align: center;
    gap: 3vh;
    list-style: none;
    font-weight: 200;
    font-size: 1.6vw;
    color:purple ;
    
}
/* ==========================================main ===================*/
.main{
    display: flex;
    gap: 2rem;
    padding: 0 60px 20px 60px;
}
.web3{
    height:auto;
    width: 65vw;
}
.child1{
    display: flex;
    flex-direction: column;
    padding: 0 60px 20px 60px;
}
.child_left{
    padding:1rem 0 ;
    display: flex;
    gap: 30px;
     width: 65vw;
     height:10vh

}
.grand_child_1{
    font-size: 50px;
    font-weight: 900;
    width:35vw;
}

.grand-para{
    font-size: 1.7vw;
     font-weight: 100;
     width:40vw ;
     padding-bottom:20px;

}
.btn{

    width: 17vw;
    height: 8vh;
    color: hsl(20, 14%, 96%);   
     background-color: hsl(5, 85%, 63%);
    border-style: none;
    font-size: large;

}
/* =====================child-2======================== */

.child_2{

    background-color: black;
    display: flex;
    flex-direction: column;
    color:var(--Offwhite);
    gap: 1rem;
    padding: 1rem;
    height:fit-content;
}
.new{
    color:var(--Softorange);
    font-size: 5vh;
    font-weight: 700;
}
.h3{
  font-size: 4vh;
  color: white;
}
.h3_para{
    color:gray;
    font-size: 3vh;

}
@media (min-width:769px){
    .icon{
        display: none;
    }
    .navbar{
        display: flex;
        align-items: center;
        flex-direction: row;
        margin:10px;
    }
    .navbar_right li{
        padding-left: 60px;
    }
}
@media (max-width: 768px) {
    
    .icon{
        position: absolute;
        top:4%;
        right:5%;
        width: 25px;
        z-index: 1000;
    }
    .navbar{
        display: flex;
        align-items:center;
        justify-content: space-between;
        flex-direction: row;
        margin:1px;
        
    
    }
    .navbar_right{
        display: flex;
        flex-direction: column;
        gap:0vh;
    }
    .navbar_right li{
        width:90%;
        padding:20px;
        color:blueviolet;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-top: 1px solid black;
    }
    .navbar_right li:nth-last-child(1) {
        padding-bottom: 30px;
        border-bottom: 1px solid black;

    } 
   
    .main{
        display:flex;
        flex-direction: column;
    }
    .web3{
        background: url(./assets/images/image-web-3-mobile.jpg);
        height: 100%;
        width: 100%;
        
        
    }
    .child_left{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .grand_child_1{
    font-weight: 900;
    font-size: 2.5rem;
    width: 70vw;
    }
    .grand_child_2{
        
  display: flex;
  flex-direction: column;
  padding:0;
  
    }
    .grand-para{
        font-size: 1.5rem;
        font-weight: 200;
        color:grey;
        width:70vw;

    }
    .btn{
        width:50vw;
        height:8vh;
        margin-bottom: 1rem;
    }
    .child_2{
        margin-top: 24rem;
    }
    .footer{
        display: flex;
        flex-direction:column;
        padding: 0  5px 10px 5px;
        flex-wrap: nowrap;


    }
    .footer-content{
        flex-direction: row;
    }
    .common-img{
        height:8vh;
        width:35vw;
      }
      .number{
        font-size: 15px;
        font-weight: 500;
      }
      .para{
        font-size: 30px;
      }
      .footer-right{
        min-height: 10vh;
        min-width:50vw ;
      }
}
/* =================================Footer=============================== */
.footer{
    padding:5rem 0 1rem 3rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  
  }
  .footer-content{
    display: flex;

    gap: 1rem;
  }
  .common-img{
    height:35vh;

  }

  .number{
    font-size:60px;
    font-weight: 900;
    color:gray;
  }
  .para{
    color:gray;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 10px 20px 0;
    
  }
  .footer_h3{
        font-size: 4vh;
        color:rgb(1, 1, 49);
      
  }
  
  