*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px 20px 60px;
}
.navbar_left{
    font-size: 4vw;
    font-weight: 900;
    font-family: 'poppins';

}
.navbar_right{
    display: flex;
    text-align: center;
    gap: 3vh;
    list-style: none;
    font-weight: 200;
    font-size: 1.6vw;
    color:purple ;
    
}
/* ==========================================main ===================*/
.main{
    display: flex;
    gap: 2rem;
    padding: 0 60px 20px 60px;
}
.web3{
    height:auto;
    width: 65vw;
}
.child1{
    display: flex;
    flex-direction: column;
    padding: 0 60px 20px 60px;
}
.child_left{
    padding:1rem 0 ;
    display: flex;
    gap: 30px;
     width: 65vw;
     height:10vh

}
.grand_child_1{
    font-size: 4.4vw;
    font-weight: 900;
    width:40vw;
}

.grand-para{
    font-size: 1.7vw;
     font-weight: 100;
     width:40vw ;
     padding-bottom:20px;

}
.btn{

    width: 17vw;
    height: 8vh;
    color:white;
    background-color: rgb(253, 83, 83);
    border-style: none;
    font-size: large;

}
/* =====================child-2======================== */

.child_2{

    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    padding: 1rem;
    height:fit-content;
}
.new{
    color: rgb(230, 174, 6);
    font-size: 5vh;
    font-weight: 700;
}
.h3{
  font-size: 4vh;
}
.h3_para{
    color: grey;
    font-size: 3vh;

}
@media (max-width: 768px) {
    .navbar{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin:10px;
    }
    .navbar_right{
        display: flex;
        flex-direction: column;
        gap:0vh;
    }
    .main{
        display:flex;
        flex-direction: column;
    }
    .web3{
        height:40vh;
        width:65vw;
        
    }
    .child_left{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .grand_child_1{
    font-weight: 900;
    font-size: 2.5rem;
    width: 70vw;
    }
    .grand_child_2{
        
  display: flex;
  flex-direction: column;
  padding:0;
  
    }
    .grand-para{
        font-size: 1.5rem;
        font-weight: 200;
        color: grey;
        width:70vw;

    }
    .btn{
        width:50vw;
        height:8vh;
    }
    .child_2{
        margin-top: 24rem;
    }

    
}
